
.button-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin: 20px;
}

.button {
	width: 100%;
	padding: 10px;
	height: 130px;
	text-align: center;
	background-color: #123617;
	color: #fff;
	border: none;
	cursor: default;
}

/*ESTILo DA JANELA DO PAD*/
/* Conteúdo do arquivo styles.css */

.dois_terminais {
    display: flex;
    flex-wrap: nowrap; /* Impede a quebra de linha */
    gap: 10px; /* Espaço entre os terminais */
}

.terminal-window {
    background-color: hsla(0, 0%, 100%, 0.9);
    border: 1px solid #34495e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /*width: 400px;*/       /* Largura da janela */
    /*height: 250px;(/      /* Altura da janela */
	height: 90%%;
	width: 80%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    position: relative;
    top: 10px;
    left: 40px;
}

.terminal-header {
    background-color: hsl(0, 0%, 18%);
    padding: 8px;
    display: flex;
    color: #ecf0f1; /* Cor do texto na barra superior */
}

#tituloterminal {
    flex-grow: 1;
    /*text-align: center;*/
}

#fechar {
    cursor: pointer;
}

.terminal-body {

    padding: 1px;
    overflow-y: auto;
    color: #300924; /* Cor do texto no corpo do terminal 1fr*/
    
}

#linkedin_banner {
	width: 100%;
}



#template_corpo_terminal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "txt_esquerda1 ico_1      txt_direita1 txt_full_direita"
      "txt_esquerda2 ico_2      txt_direita2 txt_full_direita"
      "txt_esquerda3 ico_3      txt_direita3 txt_full_direita"
      "txt_descri    txt_descri txt_descri   txt_full_direita";
    grid-template-rows: 20px 20px 20px 1fr;
    grid-template-columns: 35% 30px 1fr 35%;
    grid-gap: 10px;
    margin: 10px;
    align-items: center;
  }

  #itau_ico, #ufabc_ico, #fgv_ico{
    width: 25px;
    height: 25px;
  }


  #div_txt_descri {
    grid-area: txt_descri;
    align-self: flex-start;
  }

  #div_txt_full_direita {
    grid-area: txt_full_direita;
    align-self: flex-start;
  }


  #divesq1 {
    grid-area: txt_esquerda1;
  }

  #divesq2 {
    grid-area: txt_esquerda2;
  }

  #divesq3 {
    grid-area: txt_esquerda3;
  }

  #divinco1 {
    grid-area: ico_1;
  }

  #divinco2 {
    grid-area: ico_2;
  }

  #divinco3 {
    grid-area: ico_3;
  }

  #divdir1 {
    grid-area: txt_direita1;
  }

  #divdir2 {
    grid-area: txt_direita2;
  }

  #divdir3 {
    grid-area: txt_direita3;
  }








txt_esquerda1, 
ico_1, 
txt_direita1, 
txt_esquerda2, 
ico_2, 
txt_direita2,
txt_esquerda3, 
ico_3, 
txt_direita3,
txt_descri {
/*background-color: aqua;*/
font-size: 16px;
}

txt_full_direita {
/*
background-color: aqua;
*/
}

