/* Conteúdo do arquivo styles.css */

.dois_terminais {
    display: flex;
    flex-wrap: nowrap; /* Impede a quebra de linha */
    gap: 10px; /* Espaço entre os terminais */
}

.terminal-window {
    background-color: #300924;
    border: 1px solid #34495e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 400px; /* Largura da janela */
    height: 250px; /* Altura da janela */
    display: flex;
    flex-direction: column;
    font-family: monospace;

    position: relative;
    top: 50px;
    left: 50px;
}

.terminal-header {
    background-color: #2e2e2e;
    padding: 8px;
    display: flex;
    color: #ecf0f1; /* Cor do texto na barra superior */
}

#tituloterminal {
    flex-grow: 1;
    text-align: center;
}

#fechar {
    cursor: pointer;
}

.terminal-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    color: #ecf0f1; /* Cor do texto no corpo do terminal */
}
